.intro {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: white;
}

.intro__title {
  .set-typography("Oswald", 36px, 1, 400);
}

.intro__slogan {
  .set-typography("Oswald", 14px, 1, 400);
  text-transform: uppercase;
}
