.map {
  width: 320px;
}

.map__intro-wrapper {
  background-color: var(--gray-light);
}

.map__intro-invitation {
  .set-typography("Oswald", 16px, 1.25, 400);
  color: var(--black-dark);
  text-transform: uppercase;
}

.map__intro-address {
  .set-typography("", 14px, 1.43, 400);
  color: var(--grey-brown);
}
