.plan {
  background-color: var(--gray-light);
}

.plan__title {
  .set-typography("Oswald", 24px, 1.54, 400);
  text-transform: uppercase;
}

.plan__description {
  color: var(--grey-brown);
}

.plan__link {
  .set-typography("Oswald", 16px, 1, 400);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-dark);
}
