.product-info {
  width: 100%;
  color: var(--grey-brown);

  @media (--tablet-width) {
    .set-typography("", 16px, 16px, 400);
  }
  .set-typography("", 12px, 16px, 400);
}

.product-info__value {
  text-align: right;
}
