.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid var(--gray-border);

  @media (--tablet-width) {
    padding-left: 15px;
  }
}

.social__link {
  color: var(--gray-brown);

  &:hover {
    color: var(--green-main);
  }
}

.social__icon {
  margin-right: 18px;
  margin-left: 18px;
  fill: currentColor;

  &:active {
    opacity: 0.3;
  }

  @media (--tablet-width) {
    margin: 0;
  }
}

.social__icon--vk {
  width: 22px;
  height: 12px;

  @media (--tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__icon--insta {
  width: 23px;
  height: 23px;

  @media (--tablet-width) {
    margin-right: 28px;
    margin-left: 28px;
  }
}

.social__icon--fb {
  width: 10px;
  height: 19px;

  @media (--tablet-width) {
    width: 14px;
    height: 28px;
  }
}
