:root {
  --grey-brown: #444444;
  --leaf: #68b738;
  --black-dark: #111111;
  --gray-mid: #666666;
  --black-light: #222222;
  --gray-light: #f2f2f2;
  --gray-filline: #cdcdcd;
}

@custom-media --tablet-width (min-width: 768px);
@custom-media --desktop-width (min-width: 1300px);
